<% include ../public/header %>
<style type="text/css" media="screen">
#editor {
    height: 275px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 15px;
}
</style>

<div class="well problem-info">
    <form method="POST" action="/feedcode/miao~">
        <div class="row">
            <div class="col-md-5">
                <input <% if(index !== "") { %>readonly<% } %> name="index" type="number" class="form-control" id="index" value="<%= index %>" placeholder="题目编号喵~">
            </div>

            <div class="col-md-5">
                <select class="form-control" name="lang" id="lang">
                    <option value="1">GCC</option>
                    <option value="2">G++</option>
                    <option value="4">FPC</option>
                </select>
            </div>

            <div class="col-md-2">
                <input type="submit" class="btn btn-default btn-block" />
            </div>
        </div>

            <div class="col-md-12" id="editor"></div>

        <textarea style="display: none;" id="code" name="code"></textarea>
        <div class="cl"></div>
    </form>
</div>

<script type="text/javascript" src="/ace/ace.js"></script>
<script>
var modes = {
    1       : "c_cpp",
    2       : "c_cpp",
    4       : "pascal"
};
var currentLang;

var defaultCodes = {};
var index = <%= parseInt(index) %>;
if(isNaN(index)) {
    index = "No problem selected yet";
}

function initDefaultCodes() {
    // c/c++ code
    var defaultCode;
    defaultCode  = "/**\n";
    defaultCode += " * Problem Id: " + index + "\n";
    defaultCode += " * Problem Title: " + "<%- problem.title %>\n";
    defaultCode += " * Author: ";
    <% if(loggedIn === false) { %>
    defaultCode += "Not logged in yet";
    <% } else { %>
    defaultCode += "<%= loggedIn.username %>";
    <% } %>
    defaultCode += "\n";
    defaultCode += " */\n";
    defaultCodes[1] = defaultCodes[2] = defaultCode;

    // pascal code
    defaultCode  = "{{\n"
    defaultCode += "  Problem Id: " + index + "\n";
    defaultCode += "  Problem Title: " + "<%- problem.title %>\n";
    defaultCode += "  Author: ";
    <% if(loggedIn === false) { %>
    defaultCode += "Not logged in yet";
    <% } else { %>
    defaultCode += "<%= loggedIn.username %>";
    <% } %>
    defaultCode += "\n";
    defaultCode += "}}\n";
    defaultCodes[4] = defaultCode;
}

$(function() {
    initDefaultCodes();

    currentLang = $("#lang").val();

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_light");
    editor.getSession().setMode("ace/mode/" + modes[$("#lang").val()]);
    editor.setAutoScrollEditorIntoView(true);
    editor.setOption("minLines", 30);
    editor.setOption("maxLines", 40);
    editor.setValue(defaultCodes[$("#lang").val()]);
    editor.gotoLine(6);
    editor.focus();

    $("#lang").change(function() {
        editor.getSession().setMode("ace/mode/" + modes[$("#lang").val()]);

        if(editor.getValue().trim() + "\n" === defaultCodes[currentLang]) {
            editor.setValue(defaultCodes[$("#lang").val()]);
            editor.gotoLine(6);
            editor.focus();
        }

        currentLang = $("#lang").val();
    });

    $("#code").val(editor.getValue());
    editor.on("change", function() {
        $("#code").val(editor.getValue());
    });
});
</script>

<% include ../public/footer %>
