<% include ../public/header %>

<link rel="stylesheet" type="text/css" href="/css/probleminfo.css" media="screen" />
<script type="text/javascript" src="/.js/probleminfo.js"></script>

<div class="well problem-info">
    <div class="row">
        <div class="col-md-12 text-center" style="border-bottom: 1px solid #e3e3e3; padding-bottom: 10px;">
            <h2><%= problem.title %></h2>

            <small>
                (时间限制：<span class="label label-default"><%= problem.timelimit %></span> ms ❤
                内存限制：<span class="label label-default"><%= problem.memorylimit %></span> K)
            </small>

            <br />

            <div style="margin-top: 10px;" class="btn-group btn-group-xs">
                <a href="/feedcode/<%= problem.index %>" title="提交" type="button" class="btn btn-success">提交</a>
                <a href="/run?problem=<%= problem.index %>" type="button" class="btn btn-info">状态</a>
                <a href="/problem/<%= problem.index %>/statistic" type="button" class="btn btn-warning">统计</a>
                <a href="/discuss/<%= problem.index %>" type="button" class="btn btn-danger">讨论</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="description">
            <h3><a href="javascript:void(0);">◇ 题目描述</a></h3>
            <div style="overflow-x: auto;">
                <%- problem.description %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="inputData">
            <h3><a href="javascript:void(0);">◇ 输入数据</a></h3>
            <div style="overflow-x: auto;">
                <%= problem.input %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="outputData">
            <h3><a href="javascript:void(0);">◇ 输出数据</a></h3>
            <div style="overflow-x: auto;">
                <%= problem.output %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="sampleInput">
            <h3><a href="javascript:void(0);">◇ 样例输入</a></h3>
            <pre style="color: #dd1144;"><%= problem.sampleinput %></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="sampleOutput">
            <h3><a href="javascript:void(0);">◇ 样例输出</a></h3>
            <pre style="color: #dd1144;"><%= problem.sampleoutput %></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="hint">
            <h3><a href="javascript:void(0);">◇ 提示信息</a></h3>
            <div style="overflow-x: auto;">
                <%- problem.hint %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="source">
            <h3><a href="javascript:void(0);">◇ 题目来源</a></h3>
            <div style="overflow-x: auto;">
                <%- problem.source %>
            </div>
        </div>
    </div>
</div>

<% include ../public/footer %>
