<% include ../public/header %>

<link rel="stylesheet" type="text/css" href="/css/problemlist.css" media="screen" />

<div class="well problem-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="row">
                <th colspan="4" style="text-align: center;">
                    <ul class="pagination pagination-sm" style="margin: 0;">
                        <% if(page === 1) { %>
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <% } else { %>
                        <li><a href="/problem/list/1">&laquo;</a></li>
                        <% } %>

                        <% for(var i = 1; i <= pageCount; i++) { %>
                        <%     if(i === page) { %>
                            <li class="active"><a href="#"><%= i %></a></li>
                        <%     } else { %>
                            <li><a href="/problem/list/<%= i %>"><%= i %></a></li>
                        <%     } %>
                        <% } %>

                        <% if(page === pageCount) { %>
                        <li class="disabled"><a href="#">&raquo;</a></li>
                        <% } else { %>
                        <li><a href="/problem/list/<%= pageCount %>">&raquo;</a></li>
                        <% } %>
                    </ul>
                </th>
            </tr>
            <tr class="row">
                <th class="col-md-1 problem-list-status">状态</th>
                <th class="col-md-1 problem-list-id">题号</th>
                <th class="col-md-8 problem-list-title" style="text-align: center;">标题</th>
                <th class="col-md-2 problem-list-ratio">通过/提交</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="row">
                <td colspan="4" style="text-align: center;">
                    <ul class="pagination pagination-sm" style="margin: 0;">
                        <% if(page === 1) { %>
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <% } else { %>
                        <li><a href="/problem/list/1">&laquo;</a></li>
                        <% } %>

                        <% for(var i = 1; i <= pageCount; i++) { %>
                        <%     if(i === page) { %>
                        <li class="active"><a href="#"><%= i %></a></li>
                        <%     } else { %>
                        <li><a href="/problem/list/<%= i %>"><%= i %></a></li>
                        <%     } %>
                        <% } %>

                        <% if(page === pageCount) { %>
                        <li class="disabled"><a href="#">&raquo;</a></li>
                        <% } else { %>
                        <li><a href="/problem/list/<%= pageCount %>">&raquo;</a></li>
                        <% } %>
                    </ul>
                </td>
            </tr>
        </tfoot>
        <tbody>
        <% for(var i = 0; i < problemList.length; i++) { %>
            <tr class="row">
                <td class="col-md-1 problem-list-status"></td>
                <td class="col-md-1 problem-list-id"><%= problemList[i].index %></td>
                <td class="col-md-8 problem-list-title"><a href="/problem/<%= problemList[i].index %>"><%= problemList[i].title %></a></td>
                <td class="col-md-2 problem-list-ratio">
                    <%= problemList[i].solved %>/<%= problemList[i].submit %><br />
                    <% if(problemList[i].submit !== 0) { %>
                    (<%= ((problemList[i].solved / problemList[i].submit) * 100).toFixed(2) %>%)
                    <% } else { %>
                    (0.00%)
                    <% } %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<% include ../public/footer %>
